<footer class="footer">
    <div class="container">
      <p>&copy; <%= new Date().getFullYear() %> WeatherNow | Made by Arpan</p>
      <div class="social-icons">
        <a href="https://github.com/mitrastarpan1999" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://x.com/ArpanMitra42171" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/arpan-mitra-00033b240/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </footer>
  